.sidebar {
  position: relative;
  top: 0;
  left: 0;
  background: #fafafa;
  height: 100%;
  width: 80px;
  transition: all 0.1s ease;
  &__toggle {
    position: absolute;
    right: -19.5px;
    top: 50px;
    height: 50px;
    width: 20px;
    background: #fafafa;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: grid;
    place-items: center;
  }
  &__container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
      width: 0;
    }
    // img {
    //   width: 150px;
    //   height: 150px;
    //   border-radius: 50%;
    //   object-fit: cover;
    //   box-shadow: $shadow-1;
    // }
  }
  &__user {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 10px;
    border-top: 1px solid #ccc;
    padding-bottom: 1rem;
    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-fit: cover;
      border: 5px solid #fff;
    }
  }
  &__name {
    margin-top: 5px;
    font-weight: 600;
    text-transform: capitalize;
  }
  ul {
    margin-top: 1rem;
    padding: 0;
    width: 70px;
    li {
      margin-top: 1rem;
      cursor: pointer;
      user-select: none;
      font-size: 11px;
      b {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      ul {
        margin-top: 0;
        padding-left: 1rem;
        color: #666;
        transition: all 0.3s;
        li {
          font-size: 10px;
          margin-top: 5px;
          &:hover {
            color: #111;
          }
        }
      }
    }
  }

  @media (min-width: 800px) {
    width: 280px;
    li {
      width: 190px !important;
    }
    .show {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
    ul {
      margin-top: 1rem;
      padding: 0;
      width: 200px;
      li {
        margin-top: 1rem;
        cursor: pointer;
        user-select: none;
        font-size: 1rem;
        b {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        ul {
          margin-top: 0;
          padding-left: 0.3rem;
          color: #666;
          transition: all 0.3s;
          li {
            margin-top: 5px;
            &:hover {
              color: #111;
            }
          }
        }
      }
    }
  }
}

.active {
  background: $light-pink-color !important;
  color: #111;
  a span {
    color: #fff !important;
    font-weight: 600 !important;
  }
  svg {
    fill: #fff !important;
  }
}

.show {
  font-size: 14px;
  color: #111111d2;
  display: none;
  span {
    &:first-of-type {
      font-weight: 600;
    }
  }
}
.opened {
  width: 280px;
  li {
    width: 190px !important;
  }
  .show {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  ul {
    margin-top: 1rem;
    padding: 0;
    width: 200px;
    li {
      margin-top: 1rem;
      cursor: pointer;
      user-select: none;
      font-size: 1rem;
      b {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      ul {
        margin-top: 0;
        padding-left: 0.3rem;
        color: #666;
        transition: all 0.3s;
        li {
          margin-top: 5px;
          &:hover {
            color: #111;
          }
        }
      }
    }
  }
}
